.request-container {
  padding: 40px;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  h2{
    color: rgb(255, 255, 255);
  }
}

.request-info {
  justify-content:space-around;
  align-items: center;
  display: flex;
  background: #fafafa;
  color: black;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  text-align: left;
}

.request-info img {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.actions {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
}

.center-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #4caf50;
  color: white;
  padding: 20px 40px;
  border-radius: 8px;
  font-size: 18px;
  z-index: 1000;
}

.approve-btn {
  background: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.reject-btn {
  background: #dc3545;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}
