.profile {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  min-height: calc(100vh - 25px);
  border: 1px solid #ccc;
  border-radius: 15px;
  text-align: left;
  background-color: #f6e6b6;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.profile h2 {
  text-align: center;
  margin-top: -250px  ;
  color: #333;
}

.profile-card {
  display: flex;
  gap: 250px;
  margin-top: 100px;
  align-items:center;
  justify-content: center;
  flex-wrap: wrap;
}

.profile-photo {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #2196f3;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 300px;
  font-weight: 600;
}

.profile-info p {
  margin: 6px 0;
  font-size: 16px;
  color: #444;
}

.profile-info p strong {
  color: #222;
}

@media (max-width: 1050px) { 
  .profile-card {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .profile-photo {
    width: 180px;
    height: 180px;
  }
  .profile-info {
    min-width: 250px;
    text-align: center;
  }
}

@media (max-width: 768px) { 
  .profile {
    padding: 15px;
  } 
  .profile-photo {
    width: 150px;
    height: 150px;
  }
  .profile-info p {
    font-size: 14px;
  }
}

@media (max-width: 475px) { 
  .profile-photo {
    width: 100px;
    height: 100px;
  }
  .profile-info p {
    font-size: 12px;
  }
}
